{% extends 'layout/main.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/toastr/toastr.min.css') }}">
{% endblock %}
{% block content %}
    {% apply spaceless %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-bordered table-hover text-nowrap">
                            <tbody>
                            {% for property in properties %}
                                {% if 'id' != property.name and 'password' != property.name and 'plainPassword' != property.name %}
                                    <tr>
                                        <td style="width: 149px;">{{ ('sas.table.column.' ~ context ~ '.' ~ property.name) | trans({}, 'tables') }}</td>
                                        <td style="width: 7px;">:</td>
                                        {% if 'group' == property.name %}
                                            {% set group = attribute(data, property.name) %}
                                            <td>{{ group.name ~ ' (' ~ group.code ~ ')' }}</td>
                                        {% if 'supervisor' == property.name %}
                                            {% set supervisor = attribute(data, property.name) %}
                                            <td>{{ supervisor.fullName ~ ' (' ~ supervisor.username ~ ')' }}</td>
                                        {% else %}
                                            <td>{{ attribute(data, property.name) }}</td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('kejawenlab_apiskeleton_admin_me_put__invoke') }}" class="btn btn-warning ml-1">{{ 'sas.page.profile.update' | trans({}, 'pages') }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endapply %}
{% endblock %}
{% block javascripts %}
    {% apply spaceless %}
        <script src="{{ asset('plugins/toastr/toastr.min.js') }}"></script>
        <script>
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-center",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                {% for message in app.flashes('info') %}
                    toastr['success']('{{ message | trans({}, 'pages') }}');
                {% endfor %}
                {% for message in app.flashes('error') %}
                    toastr['error']('{{ message | trans({}, 'pages') }}');
                {% endfor %}
            });
        </script>
    {% endapply %}
{% endblock %}
