{% extends 'layout/main.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/toastr/toastr.min.css') }}">
{% endblock %}
{% block content %}
    {% apply spaceless %}
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ page_title | trans({}, 'pages') }}</h4>
                    </div>
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="{% if data.profileImage %}{{ '/admin' ~ sas.media_prefix ~ data.profileImage }}{% else %}{{ asset('dist/img/avatar5.png') }}{% endif %}" alt="{{ data.username | humanize }}" />
                        </div>
                        <h3 class="profile-username text-center">{{ data.fullName }}</h3>
                        {% set group = data.group %}
                        <p class="text-muted text-center">{{ group.code ~ ' - ' ~ group.name }}</p>
                        <ul class="list-group list-group-unbordered mb-3">
                            {% for property in properties %}
                                {% if
                                    'id' != property.name and
                                    'password' != property.name and
                                    'plainPassword' != property.name and
                                    'profileImage' != property.name and
                                    'deviceId' != property.name and
                                    'file' != property.name
                                %}
                                    <li class="list-group-item text-primary">
                                        <b>{{ ('sas.table.column.' ~ context ~ '.' ~ property.name) | trans({}, 'tables') }}</b>
                                        {% if 'group' == property.name %}
                                            {% set group = attribute(data, property.name) %}
                                            <a class="float-right">{{ group.code ~ ' - ' ~ group.name }}</a>
                                        {% elseif 'supervisor' == property.name %}
                                            {% set supervisor = attribute(data, property.name) %}
                                            {% if supervisor %}
                                                <a class="float-right">{{ supervisor.fullName ~ ' (' ~ supervisor.username ~ ')' }}</a>
                                            {% endif %}
                                        {% else %}
                                            <a class="float-right">{{ attribute(data, property.name) }}</a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <form role="form" method="post" action="{{ path('KejawenLab\\ApiSkeleton\\Admin\\Controller\\Me\\Put') }}" enctype="multipart/form-data">
                        <div class="card-body">
                            {{ form_widget(form) }}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-primary">{{ 'sas.form.action.submit' | trans({}, 'forms') }}</button>
                            <button type="reset" class="btn btn-outline-secondary ml-1">{{ 'sas.form.action.cancel' | trans({}, 'forms') }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endapply %}
{% endblock %}
{% block javascripts %}
    {% apply spaceless %}
        <script src="{{ asset('plugins/toastr/toastr.min.js') }}"></script>
        <script>
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-center",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                {% for message in app.flashes('info') %}
                    toastr['success']('{{ message | trans({}, 'pages') }}');
                {% endfor %}
                {% for message in app.flashes('error') %}
                    toastr['error']('{{ message | trans({}, 'pages') }}');
                {% endfor %}

                $('.custom-file-input').on('change', function () {
                    let fileName = $(this).val().split('\\').pop();
                    $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
                });
            });
        </script>
    {% endapply %}
{% endblock %}
