{% extends 'layout/main.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/toastr/toastr.min.css') }}">
{% endblock %}
{% block content %}
    {% apply spaceless %}
    {% set menu = convert_to_menu(context) %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="float-right col-7">
                        <div class="input-group input-group col-10 float-left">
                            <input type="text" name="table_search" id="sasSearchValue" class="form-control float-right" placeholder="{{ 'sas.table.action.search' | trans({}, 'tables') }}">
                            <div class="input-group-append">
                                <button type="submit" id="sasSearch" class="btn btn-default"><i class="fas fa-search"></i> {{ 'sas.table.action.search' | trans({}, 'tables') }}</button>
                            </div>
                        </div>
                        <div class="float-right dropdown col-2">
                            <button class="btn btn-warning dropdown-toggle float-lg-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ 'sas.table.action.label' | trans({}, 'tables') }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if is_granted('add', menu) %}
                                    <a href="{{ path('kejawenlab_apiskeleton_admin_setting_post__invoke') }}" class="dropdown-item pl-2 pr-2">{{ 'sas.table.action.add' | trans({}, 'tables') }}</a>
                                {% endif %}
                                <a href="{{ path('kejawenlab_apiskeleton_admin_setting_download__invoke') }}" class="dropdown-item pl-2 pr-2">{{ 'sas.table.action.download' | trans({}, 'tables') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-striped table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>No</th>
                            {% for property in properties %}
                                {% if 'id' != property.name and 'file' != property.name %}
                                    <th>{{ ('sas.table.column.' ~ context ~ '.' ~ property.name) | trans({}, 'tables') }}</th>
                                {% endif %}
                            {% endfor %}
                            <th style="width: 149px;">{{ 'sas.table.column.action' | trans({}, 'tables') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, setting in paginator['items'] %}
                            <tr>
                                <td>{{ (key + 1) + (paginator['per_page'] * (paginator['page'] - 1)) }}</td>
                                <td>{{ setting.parameter }}</td>
                                <td>{{ setting.value }}</td>
                                <td>{% if setting.public %}<span class="btn btn-success disabled">{{ 'sas.page.media.public' | trans({}, 'pages') }}</span>{% else %}<span class="btn btn-warning disabled">{{ 'sas.page.media.non_public' | trans({}, 'pages') }}</span>{% endif %}</td>
                                <td>
                                    <a href="{{ path('kejawenlab_apiskeleton_admin_setting_get__invoke', {id: setting.id}) }}" class="btn btn-sm btn-default">{{ 'sas.table.action.view' | trans({}, 'tables') }}</a>
                                    {% if is_granted('edit', menu) %}
                                        <a href="{{ path('kejawenlab_apiskeleton_admin_setting_put__invoke', {id: setting.id}) }}" class="btn btn-sm btn-warning ml-1">{{ 'sas.table.action.edit' | trans({}, 'tables') }}</a>
                                    {% endif %}
                                    {% if is_granted('delete', menu) %}
                                        <button type="button" data-path="{{ path('kejawenlab_apiskeleton_admin_setting_delete__invoke', {id: setting.id}) }}" data-notification="{{ 'sas.notification.delete.message' | trans({'%data%': setting.parameter}, 'notifications') }}" class="btn btn-sm btn-danger ml-1 delete" data-toggle="modal" data-target="#sasDeleteModal">
                                            {{ 'sas.table.action.delete' | trans({}, 'tables') }}
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer clearfix">
                    {% include 'layout/pagination.html.twig' with {paginator: paginator} %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sasDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'sas.notification.delete.title' | trans({}, 'notifications') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <input type="hidden" id="sasPath" value="" />
                </div>
                <div class="modal-body" id="sasNotification"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'sas.notification.delete.cancel' | trans({}, 'notifications') }}</button>
                    <button type="button" id="sasDeleteConfirm" class="btn btn-primary">{{ 'sas.notification.delete.confirm' | trans({}, 'notifications') }}</button>
                </div>
            </div>
        </div>
    </div>
    {% endapply %}
{% endblock %}
{% block javascripts %}
    {% apply spaceless %}
        <script src="{{ asset('plugins/toastr/toastr.min.js') }}"></script>
        <script>
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-center",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                $('#sasSearchValue').val(getParameterByName('q'));

                $('.delete').on('click', function() {
                    $('#sasPath').val($(this).data('path'));
                    $('#sasNotification').html($(this).data('notification'));
                });

                $('#sasDeleteConfirm').on('click', function() {
                    window.location.href = $('#sasPath').val();
                });

                $('#sasSearch').on('click', function () {
                    window.location.href = '{{ path('kejawenlab_apiskeleton_admin_setting_getall__invoke') }}?q=' + $('#sasSearchValue').val();
                });

                {% for message in app.flashes('info') %}
                    toastr['success']('{{ message | trans({}, 'pages') }}');
                {% endfor %}
                {% for message in app.flashes('error') %}
                    toastr['error']('{{ message | trans({}, 'pages') }}');
                {% endfor %}
            });
        </script>
    {% endapply %}
{% endblock %}
