{% extends 'layout/main.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/json-viewer/json-viewer.min.css') }}">
{% endblock %}
{% block content %}
    {% apply spaceless %}
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body table-responsive p-1">
                        <table class="table table-bordered table-hover text-nowrap">
                            <tbody>
                            {% for property in properties %}
                                {% if 'id' != property.name %}
                                    <tr>
                                        <td style="width: 149px;">{{ ('sas.table.column.' ~ context ~ '.' ~ property.name) | trans({}, 'tables') }}</td>
                                        <td style="width: 7px;">:</td>
                                        {% if 'public' == property.name %}
                                            <td>{% if attribute(data, property.name) %}<span class="btn btn-success disabled">{{ 'sas.page.media.public' | trans({}, 'pages') }}</span>{% else %}<span class="btn btn-warning disabled">{{ 'sas.page.media.non_public' | trans({}, 'pages') }}</span>{% endif %}</td>
                                        {% else %}
                                            <td>{{ attribute(data, property.name) }}</td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('KejawenLab\\ApiSkeleton\\Admin\\Controller\\Setting\\GetAll') }}" class="btn btn-warning ml-1">{{ 'sas.form.action.back' | trans({}, 'forms') }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header p-2">
                        <h4>{{ 'sas.page.audit.last_changes' | trans({}, 'pages') }}</h4>
                    </div>
                    <div class="card-body p-0">
                        {% if can_view_audit() %}
                            {% for key, audit in audits %}
                                <ul class="list-group p-1">
                                    <li class="list-group-item text-primary">
                                        {{ 'sas.table.column.audit.type' | trans({}, 'tables') }}
                                        <a class="float-right">{{ audit['type'] | upper }}</a>
                                    </li>
                                    <li class="list-group-item text-primary">
                                        {{ 'sas.table.column.audit.logTime' | trans({}, 'tables') }}
                                        <a class="float-right">{{ audit['log_time'] | upper }}</a>
                                    </li>
                                    <li class="list-group-item text-primary">
                                        {{ 'sas.table.column.audit.userId' | trans({}, 'tables') }}
                                        <a class="float-right">{{ audit['user_id'] | upper }}</a>
                                    </li>
                                    <li class="list-group-item text-primary">
                                        {{ 'sas.table.column.audit.username' | trans({}, 'tables') }}
                                        <a class="float-right">{{ audit['username'] | upper }}</a>
                                    </li>
                                    <li class="list-group-item text-primary">
                                        {{ 'sas.table.column.audit.ipAddress' | trans({}, 'tables') }}
                                        <a class="float-right">{{ audit['ip_address'] | upper }}</a>
                                    </li>
                                    <li class="list-group-item text-primary">
                                        {{ 'sas.table.column.audit.data' | trans({}, 'tables') }}
                                        <a class="float-right"><pre class="json-viewer" data-json="{{ audit['data'] | json_encode() }}"></pre></a>
                                    </li>
                                </ul>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% if can_view_audit() %}
                            <a href="{{ path('KejawenLab\\ApiSkeleton\\Admin\\Controller\\Setting\\Audit', {id: data.id}) }}" class="btn btn-info ml-1">{{ 'sas.form.action.audit' | trans({}, 'forms') }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endapply %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('plugins/json-viewer/json-viewer.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.json-viewer').each(function() {
                let me = $(this);
                me.jsonViewer(me.data('json'), {collapsed: true, withQuotes: true, withLinks: false});
            });
        });
    </script>
{% endblock %}
