{% extends 'layout/main.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/json-viewer/json-viewer.min.css') }}">
{% endblock %}
{% block content %}
    {% apply spaceless %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-bordered table-hover text-nowrap">
                            <tbody>
                                {% for property in properties %}
                                    {% if 'id' != property.name %}
                                        <tr>
                                            <td style="width: 149px;">{{ ('sas.table.column.' ~ context ~ '.' ~ property.name) | trans({}, 'tables') }}</td>
                                            <td style="width: 7px;">:</td>
                                            {% if 'public' == property.name %}
                                                <td>{% if attribute(data, property.name) %}<span class="btn btn-success disabled">{{ 'sas.page.media.public' | trans({}, 'pages') }}</span>{% else %}<span class="btn btn-warning disabled">{{ 'sas.page.media.non_public' | trans({}, 'pages') }}</span>{% endif %}</td>
                                            {% else %}
                                                <td>{{ attribute(data, property.name) }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if audits is defined %}
                        <div class="row mt-5">
                            <table class="table table-striped table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>{{ 'sas.table.column.audit.type' | trans({}, 'tables') }}</th>
                                        <th>{{ 'sas.table.column.audit.logTime' | trans({}, 'tables') }}</th>
                                        <th>{{ 'sas.table.column.audit.userId' | trans({}, 'tables') }}</th>
                                        <th>{{ 'sas.table.column.audit.username' | trans({}, 'tables') }}</th>
                                        <th>{{ 'sas.table.column.audit.ipAddress' | trans({}, 'tables') }}</th>
                                        <th>{{ 'sas.table.column.audit.data' | trans({}, 'tables') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for key, audit in audits %}
                                    <tr>
                                        <td>{{ audit['type'] | upper }}</td>
                                        <td>{{ audit['log_time'] }}</td>
                                        <td>{{ audit['user_id'] }}</td>
                                        <td>{{ audit['username'] }}</td>
                                        <td>{{ audit['ip_address'] }}</td>
                                        <td><pre class="json-viewer" data-json="{{ audit['data'] | json_encode() }}"></pre></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% if audits is not defined and can_view_audit() %}
                            <a href="{{ path('KejawenLab\\ApiSkeleton\\Admin\\Controller\\Setting\\Audit', {id: data.id}) }}" class="btn btn-info">{{ 'sas.form.action.audit' | trans({}, 'forms') }}</a>
                        {% endif %}
                        <a href="{{ path('KejawenLab\\ApiSkeleton\\Admin\\Controller\\Setting\\GetAll') }}" class="btn btn-warning ml-1">{{ 'sas.form.action.back' | trans({}, 'forms') }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endapply %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('plugins/json-viewer/json-viewer.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.json-viewer').each(function() {
                let me = $(this);
                me.jsonViewer(me.data('json'), {collapsed: true, withQuotes: true, withLinks: false});
            });
        });
    </script>
{% endblock %}
