{% extends 'layout/main.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/json-viewer/json-viewer.min.css') }}">
{% endblock %}
{% block content %}
    {% apply spaceless %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ page_title | trans({}, 'pages') }}</h4>
                    </div>
                    <div class="card-body p-1">
                        <ul class="list-group mb-1">
                            {% for property in properties %}
                                {% if 'id' != property.name %}
                                    <li class="list-group-item list-group-item-dark">
                                        {{ ('sas.table.column.' ~ context ~ '.' ~ property.name) | trans({}, 'tables') }}
                                        {% if 'user' == property.name %}
                                            {% set user = attribute(data, property.name) %}
                                            <a class="float-right">{{ user.fullName ~ ' (' ~ user.username ~ ')' }}</a>
                                        {% else %}
                                            <a class="float-right">{{ attribute(data, property.name) }}</a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <div class="row">
                            {% for key, data in audits %}
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="card mt-1">
                                        <div class="card-body p-0">
                                            <ul class="list-group p-0">
                                                {% for property in data | keys %}
                                                    <li class="list-group-item text-primary">
                                                        {{ ('sas.table.column.audit.' ~ property) | trans({}, 'tables') }}
                                                        {% if 'data' == property %}
                                                            <a class="float-right"><pre class="json-viewer" data-json="{{ data[property] | json_encode() }}"></pre></a>
                                                        {% else %}
                                                            <a class="float-right">{{ data[property] }}</a>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('KejawenLab\\ApiSkeleton\\Admin\\Controller\\ApiClient\\Main', {userId: user_id}) }}" class="btn btn-outline-secondary ml-1">{{ 'sas.form.action.back' | trans({}, 'forms') }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endapply %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('plugins/json-viewer/json-viewer.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.json-viewer').each(function() {
                let me = $(this);
                me.jsonViewer(me.data('json'), {collapsed: true, withQuotes: true, withLinks: false});
            });
        });
    </script>
{% endblock %}
