{% extends 'layout/main.html.twig' %}

{% block stylesheets %}{% endblock %}
{% block content %}
    {% apply spaceless %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-bordered table-hover text-nowrap">
                            <tbody>
                                {% for property in properties %}
                                    {% if 'id' != property.name %}
                                        <tr>
                                            <td style="width: 149px;">{{ ('sas.table.column.' ~ context ~ '.' ~ property.name) | trans({}, 'tables') }}</td>
                                            <td style="width: 7px;">:</td>
                                            {% if 'enabled' == property.name or 'symfonyCommand' == property.name or 'running' == property.name %}
                                                <td>{% if attribute(data, property.name) %}<span class="btn btn-success disabled">{{ 'sas.page.cron.active' | trans({}, 'pages') }}</span>{% else %}<span class="btn btn-warning disabled">{{ 'sas.page.cron.inactive' | trans({}, 'pages') }}</span>{% endif %}</td>
                                            {% else %}
                                                <td>{{ attribute(data, property.name) }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if audits is defined %}
                        <div class="row mt-5">
                            <table class="table table-striped table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>{{ 'sas.table.column.audit.type' | trans({}, 'tables') }}</th>
                                        <th>{{ 'sas.table.column.audit.logTime' | trans({}, 'tables') }}</th>
                                        <th>{{ 'sas.table.column.audit.userId' | trans({}, 'tables') }}</th>
                                        <th>{{ 'sas.table.column.audit.username' | trans({}, 'tables') }}</th>
                                        <th>{{ 'sas.table.column.audit.ipAddress' | trans({}, 'tables') }}</th>
                                        <th>{{ 'sas.table.column.audit.data' | trans({}, 'tables') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for key, audit in audits %}
                                    <tr>
                                        <td>{{ audit['type'] | upper }}</td>
                                        <td>{{ audit['log_time'] }}</td>
                                        <td>{{ audit['user_id'] }}</td>
                                        <td>{{ audit['username'] }}</td>
                                        <td>{{ audit['ip_address'] }}</td>
                                        <td>{{ dump_audit_log(audit['data']) }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('kejawenlab_apiskeleton_admin_cron_run__invoke', {id: data.id}) }}" class="btn btn-danger">{{ 'sas.form.action.run' | trans({}, 'forms') }}</a>
                        <a href="{{ path('kejawenlab_apiskeleton_admin_cron_report__invoke', {id: data.id}) }}" class="btn btn-dark ml-1">{{ 'sas.form.action.logs' | trans({}, 'forms') }}</a>
                        {% if audits is not defined and can_view_audit() %}
                            <a href="{{ path('kejawenlab_apiskeleton_admin_cron_audit__invoke', {id: data.id}) }}" class="btn btn-info ml-1">{{ 'sas.form.action.audit' | trans({}, 'forms') }}</a>
                        {% endif %}
                        <a href="{{ path('kejawenlab_apiskeleton_admin_cron_getall__invoke') }}" class="btn btn-warning ml-1">{{ 'sas.form.action.back' | trans({}, 'forms') }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endapply %}
{% endblock %}
{% block javascripts %}{% endblock %}
