{% extends 'layout/main.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/json-viewer/json-viewer.min.css') }}">
{% endblock %}
{% block content %}
    {% apply spaceless %}
        <div class="row">
            <div class="{% if is_auditable(data) and can_view_audit() %}col-lg-6{% else %}col-lg-12{% endif %} col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ page_title | trans({}, 'pages') }}</h4>
                    </div>
                    <div class="card-body p-1">
                        <ul class="list-group">
                            {% for property in properties %}
                                {% if 'id' != property.name and 'routeName' != property.name %}
                                    <li class="list-group-item text-primary">
                                        {{ ('sas.table.column.' ~ context ~ '.' ~ property.name) | trans({}, 'tables') }}
                                        {% if 'parent' == property.name %}
                                            {% if attribute(data, property.name) is not null %}
                                                {% set parent = attribute(data, property.name) %}
                                                <a class="float-right">{{ parent.name ~ '(' ~ parent.code ~ ')' }}</a>
                                            {% endif %}
                                        {% elseif 'showable' == property.name %}
                                            <a class="float-right">
                                                {% if attribute(data, property.name) %}
                                                    <span class="btn btn-sm btn-success disabled">{{ 'sas.page.menu.show' | trans({}, 'pages') }}</span>
                                                {% else %}
                                                    <span class="btn btn-sm btn-dark disabled">{{ 'sas.page.menu.not_show' | trans({}, 'pages') }}</span>
                                                {% endif %}
                                            </a>
                                        {% elseif 'adminOnly' == property.name %}
                                            <a class="float-right">
                                                {% if attribute(data, property.name) %}
                                                    <span class="btn btn-sm btn-success disabled">{{ 'sas.page.menu.admin_only' | trans({}, 'pages') }}</span>
                                                {% else %}
                                                    <span class="btn btn-sm btn-dark disabled">{{ 'sas.page.menu.both' | trans({}, 'pages') }}</span>
                                                {% endif %}
                                            </a>
                                        {% else %}
                                            <a class="float-right">{{ attribute(data, property.name) }}</a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('KejawenLab\\ApiSkeleton\\Admin\\Controller\\Menu\\Main') }}" class="btn btn-outline-secondary">{{ 'sas.form.action.back' | trans({}, 'forms') }}</a>
                    </div>
                </div>
            </div>
            {% if is_auditable(data) and can_view_audit() %}
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header p-2">
                        <h4>{{ 'sas.page.audit.last_changes' | trans({}, 'pages') }}</h4>
                    </div>
                    <div class="card-body p-0">
                        {% for key, data in audits %}
                            <ul class="list-group p-1">
                                {% for property in data | keys %}
                                    <li class="list-group-item text-primary">
                                        {{ ('sas.table.column.audit.' ~ property) | trans({}, 'tables') }}
                                        {% if 'data' == property %}
                                            <a class="float-right"><pre class="json-viewer" data-json="{{ data[property] | json_encode() }}"></pre></a>
                                        {% else %}
                                            <a class="float-right">{{ data[property] }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('KejawenLab\\ApiSkeleton\\Admin\\Controller\\Menu\\Audit', {id: data.id}) }}" class="btn btn-outline-info">{{ 'sas.form.action.audit' | trans({}, 'forms') }}</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endapply %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('plugins/json-viewer/json-viewer.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.json-viewer').each(function() {
                let me = $(this);
                me.jsonViewer(me.data('json'), {collapsed: true, withQuotes: true, withLinks: false});
            });
        });
    </script>
{% endblock %}
