{% apply spaceless %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">{{ page_title | trans({}, 'pages') }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('admin_home') }}">{{ sas.app_description }}</a></li>
                            <li class="breadcrumb-item active">{{ page_title | trans({}, 'pages') }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">{{ content | raw }}</div>
        </div>
    </div>
    <aside class="control-sidebar control-sidebar-dark">
    </aside>
{% endapply %}
