{% apply spaceless %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="generator" content="Semart Api Skeleton" />
        <meta name="version" content="{{ sas.version }}" />
        <meta name="source" content="https://github.com/KejawenLab/SemartApiSkeleton" />
        <meta name="author" content="Muhamad Surya Iksanduin" />
        <meta name="email" content="surya.iksanudin@gmail.com" />
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <title>{{ sas.app_description ~ ' | ' ~ (page_title | trans({}, 'pages')) }}</title>
        <link rel="stylesheet" href="{{ preload(asset('plugins/coreui-icons/css/all.min.css'), {as: 'style'}) }}">
        <link rel="stylesheet" href="{{ preload(asset('dist/css/adminlte.min.css'), {as: 'style'}) }}">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <style>@media(min-width:768px){.dropdown-menu>a:hover{background-color: #cfcfcf;}.user-panel{position:absolute;bottom:0;border-bottom:none !important;padding-top:9px}.nav-sidebar>.nav-item .nav-icon.fa,.nav-sidebar>.nav-item .nav-icon.fab,.nav-sidebar>.nav-item .nav-icon.far,.nav-sidebar>.nav-item .nav-icon.fas,.nav-sidebar>.nav-item .nav-icon.glyphicon,.nav-sidebar>.nav-item .nav-icon.ion{font-size:.9rem}.card{margin-top:1rem}.content-wrapper,.main-footer,.main-header{margin-left:330px!important}.main-sidebar,.main-sidebar:before{width:330px}.main-sidebar,.main-sidebar::before{width:330px}}@media(max-width:768px){.card-header>.card-tools{margin-top:30px;margin-right:0;float:none;padding:0}.table{display:block;width:100%;overflow-x:auto}}</style>
        {{ stylesheets | raw }}
    </head>
{% endapply %}
