{% apply spaceless %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <i class="fas fa-envelope mr-2"></i> 4 new messages
                <span class="float-right text-muted text-sm">3 mins</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <i class="fas fa-users mr-2"></i> 8 friend requests
                <span class="float-right text-muted text-sm">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <i class="fas fa-file mr-2"></i> 3 new reports
                <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
    </li>
    <li class="nav-item dropdown user user-menu">
        <a href="#" class="nav-link" data-toggle="dropdown">
            <img src="{{ asset('img/avatar5.png') }}" class="user-image" alt="{{ title }}">
            <span class="hidden-xs">{{ title }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <li class="user-header">
                <img src="{{ asset('img/avatar5.png') }}" class="img-circle" alt="{{ title }}">
                <p>{{ title}}<small>{{ title }}</small></p>
            </li>
            <li class="user-footer col-md-12">
                <div class="float-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="float-right">
                    <a href="#" class="btn btn-default btn-flat">Logout</a>
                </div>
            </li>
        </ul>
    </li>
</ul>
{% endapply %}
