{% apply spaceless %}
    {% if paginator['total_item'] > 0 %}
        <span class="float-left">{{ 'sas.table.show_records' | trans({'%total%': paginator['total_item']}, 'tables') | raw }}</span>
    {% endif %}
    {% set prev = paginator['page'] - 1 %}
    {% set next = paginator['page'] + 1 %}
    {% set setting = setting('page_field') %}
    {% set queryParams = app.request.query.all %}
    <ul class="pagination m-0 float-right">
        {% if paginator['page'] != 1 %}
            <li class="page-item"><a class="page-link" href="{{ app.request.pathInfo ~ '?' ~ (queryParams | merge({(setting ? setting.value : 'page'): 1})) | url_encode }}"><<</a></li>
        {% endif %}
        {% if prev > 0 %}
            <li class="page-item"><a class="page-link" href="{{ app.request.pathInfo ~ '?' ~ (queryParams | merge({(setting ? setting.value : 'page'): prev})) | url_encode }}">{{ prev }}</a></li>
        {% endif %}
        {% if paginator['total_page'] > 1 %}
            <li class="page-item"><span class="page-link"><b>{{ paginator['page'] }}</b></span></li>
        {% endif %}
        {% if next < paginator['total_page'] %}
            <li class="page-item"><a class="page-link" href="{{ app.request.pathInfo ~ '?' ~ (queryParams | merge({(setting ? setting.value : 'page'): next})) | url_encode }}">{{ next }}</a></li>
        {% endif %}
        {% if paginator['page'] < paginator['total_page'] %}
            <li class="page-item"><a class="page-link" href="{{ app.request.pathInfo ~ '?' ~ (queryParams | merge({(setting ? setting.value : 'page'): paginator['total_page']})) | url_encode }}">>></a></li>
        {% endif %}
    </ul>
{% endapply %}
